<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DummyAPITestSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.dummyapi.tests.tag.GetTagListTests"/>
      <class name="com.dummyapi.tests.user.GetUserListTests"/>
      <class name="com.dummyapi.tests.user.GetUserDetailsTests"/>
      <class name="com.dummyapi.tests.user.UserDoesNotExistTests"/>
      <class name="com.dummyapi.tests.post.GetPostListTests"/>
      <class name="com.dummyapi.tests.post.GetPostDetailsTests"/>
      <class name="com.dummyapi.tests.post.PostDoesNotExistTests"/>
      <class name="com.dummyapi.tests.post.GetPostsListCreatedByUserTests"/>
      <class name="com.dummyapi.tests.post.GetPostByTagTitleTests"/>
      <class name="com.dummyapi.tests.post.GetPostByTagTitleThatDoesNotExist"/>
      <class name="com.dummyapi.tests.comment.GetCommentByPostIdTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- DummyAPITestSuite -->
